
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h4 class="mb-4" style="margin-top: 50px;">会員一覧</h4>
      
      <table class="table table-borderless">
          
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
          
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td><%= link_to customer.full_name, admin_customer_path(customer) %></td>
              <td><%= customer.email %></td>
              <td>
                <% if customer.is_customer_status == false %>
                <span class="text-success">有効</span>
                <% else %>
                <span class="text-danger">無効</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
          
      </table>
      <div class="text-center">
        <%= paginate @customers %>
      </div>
    </div>
  </div>

