

<div class="row d-flex align-items-center justify-content-center">
  <h1 class="col-3">
    注文件数
  </h1>
  <h2 class="col-9">
    <strong>
      <%= link_to @orders.count, admin_orders_path %>件
    </strong>
  </h2>
</div>
